@import "color_schemes/light";

$link-color: #7a1f1f;
$btn-primary-color: #7a1f1f;
$sidebar-color: #f3eee4;
$body-background-color: #fbf9f4;
$body-heading-color: #1b1714;
$body-text-color: #2d2926;
$nav-child-link-color: #4d4540;
$border-color: #e2d6c4;
$code-background-color: #efe8dc;
$base-button-color: #efe8dc;
$search-background-color: #fbf9f4;
$table-background-color: #fbf9f4;
$feedback-color: darken($sidebar-color, 3%);
